__pycache__/
*.py[cod]
*.pyc
*$py.class
.Python
venv/
.venv/
env/
.env
.env.*
*.zip
.DS_Store

.cursor/
.vscode/
*.cursorrules

data/
data_prep/
genres_knowledge1/
aws_lambdas/

.git/
.gitignore
README.md
Dockerfile
.dockerignore
